{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Список товаров{% endblock %}

{% block sidebar %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <form method="get">
                    {% csrf_token %}
                    {{ filter.form.as_p }}

                    <button type="submit" class="btn btn-primary">Поиск</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <style>
        .item-list {
            margin-left: 20px;
            padding: 0;
            list-style-type: none;
            max-width: 600px;
        }

        .item-list li {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            font-size: 1.1em;
            display: flex;
            align-items: center;
        }

        .item-list img {
            width: 50px;
            height: auto;
            margin-right: 10px;
        }

        .item-list a {
            color: #333;
            text-decoration: none;
            font-weight: 600;
            transition: color 0.2s ease;
        }

        .item-list a:hover {
            color: #007BFF;
        }

        .item-price {
            display: inline-block;
            margin-left: 10px;
            color: #777;
            font-size: 0.95em;
        }

        .no-items {
            font-size: 1.5em;
            color: #999;
            text-align: center;
            margin-top: 20px;
        }

        h1 {
            margin-left: 20px;
            font-size: 1.8em;
            color: #333;
        }
    </style>

    <h1>Список товаров</h1>
    <ul class="item-list">
        {% for item in items %}
            <li>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                {% endif %}
                <a href="{% url 'handmade_item_detail' item.pk %}">{{ item.name }}</a>
                <span class="item-price">{{ item.price }} $</span>
            </li>
        {% empty %}
            <p class="no-items">Товары отсутствуют</p>
        {% endfor %}
    </ul>
{% endblock %}
